*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Segoe UI", sans-serif;
    background:#f8f9fa;
    color:#1f2937;
}

.layout{
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:300px;
    background:#f1f3f6;
    padding:20px;
    border-right:1px solid #dcdfe4;
}

.sidebar h2{
    font-size:28px;
    margin-bottom:25px;
}

.sidebar label{
    display:block;
    margin-top:18px;
    margin-bottom:8px;
    font-size:14px;
    font-weight:500;
}

.sidebar input{
    width:100%;
    padding:12px;
    border:1px solid #d5d9df;
    border-radius:8px;
    font-size:14px;
    background:white;
}

.sidebar button{
    margin-top:25px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#0d6efd;
    color:white;
    font-size:15px;
    cursor:pointer;
}

.sidebar button:hover{
    background:#0b5ed7;
}

/* CONTENIDO */

.main-content{
    flex:1;
    padding:40px 50px;
}

.main-content h1{
    font-size:54px;
    margin-bottom:15px;
}

.descripcion{
    font-size:20px;
    margin-bottom:35px;
}

/* RESULTADOS */

.metrics{
    display:flex;
    justify-content:space-between;
    margin-top:25px;
    margin-bottom:40px;
}

.metrics div{
    width:30%;
}

.metric-label{
    font-size:18px;
    color:#555;
    margin-bottom:10px;
}

.metric-value{
    font-size:48px;
    font-weight:500;
}

hr{
    margin:35px 0;
    border:none;
    border-top:1px solid #d8d8d8;
}

/* TABLA */

.table-container{
    margin-top:15px;
    overflow-x:auto;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

table th{
    background:#f5f5f5;
    border:1px solid #ddd;
    padding:10px;
    text-align:left;
}

table td{
    border:1px solid #ddd;
    padding:10px;
}

/* JSON */

#variables-modelo{
    margin-top:15px;
    background:#f7f7f7;
    border:1px solid #ddd;
    padding:20px;
    border-radius:8px;
    overflow:auto;
}

/* RIESGO */

.bajo{
    color:green;
}

.medio{
    color:orange;
}

.alto{
    color:#d97706;
}

.critico{
    color:red;
    font-weight:bold;
}

/* OCULTAR */

.oculto{
    display:none;
}