<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SIAT-TNR</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="layout">

    <aside class="sidebar">
        <h2>Consulta del conglomerado</h2>

        <label>Departamento</label>
        <input type="text" id="departamento" placeholder="Ej. Lima Metropolitana">

        <label>Provincia</label>
        <input type="text" id="provincia" placeholder="Ej. Lima">

        <label>Distrito</label>
        <input type="text" id="distrito" placeholder="Ej. Miraflores">

        <label>Ingrese el conglomerado</label>
        <input type="text" id="conglomerado" placeholder="Ej. 6792">

        <button onclick="calcularProbabilidad()">Calcular probabilidad</button>
    </aside>

    <main class="main-content">

        <h1>Sistema Inteligente de Alerta Temprana de TNR</h1>
        <p class="descripcion">
            Aplicación para estimar la probabilidad de TNR alta por conglomerado.
        </p>

        <section id="resultado" class="oculto">
            <h2>Resultado del conglomerado</h2>

            <div class="metrics">
                <div>
                    <p class="metric-label">Probabilidad TNR Alta</p>
                    <p class="metric-value" id="probabilidad"></p>
                </div>

                <div>
                    <p class="metric-label">Nivel de riesgo</p>
                    <p class="metric-value" id="riesgo"></p>
                </div>

                <div>
                    <p class="metric-label">Clasificación</p>
                    <p class="metric-value" id="clasificacion"></p>
                </div>
            </div>

            <hr>

            <h2>Información del conglomerado</h2>
            <div class="table-container">
                <table id="tabla-info"></table>
            </div>

            <h2>Variables usadas por el modelo</h2>
            <pre id="variables-modelo"></pre>
        </section>

    </main>

</div>

<script src="/static/script.js"></script>
</body>
</html>